{% extends 'base.html' %}

{% block body %}
    {% block header %}
        <h1>{% block title %}{{ system['title'] }}{% endblock %}</h1>
    {% endblock %}
    <ul>
        <li class="list_item"><a href="{{ system['tar1090']['url'] }}">{{ system['tar1090']['label'] }}</a></li>
        <li class="list_item"><a href="{{ system['graphs1090']['url'] }}">{{ system['graphs1090']['label'] }}</a></li>
        <li class="list_item"><a href="{{ system['piaware']['url'] }}">{{ system['piaware']['label'] }}</a></li>
    </ul>
    <h2>Closest Aircraft</h2>
    <ul>
        {% with identity = nearest_aircraft['identity'] %}
            <li class="list_item">Flight: 
                {% if identity['owner'] %}
                    {{ identity['owner'] }}
                {% endif %}
                {% if nearest_aircraft['flight'] is none %}
                    unknown
                {% else %}
                    <span class="code_text">{{ nearest_aircraft['flight'] }}</span>
                {% endif %}
            </li>
            <li class="list_item">{{ identity['manufacturer'] }} {{ identity['type'] }}
                ({{ nearest_aircraft['category'] }})
            </li>
        {% endwith %}
        {{ nearest_aircraft['flightaware']|render_flightaware(local_timezone_name) }}
        {% with identity = nearest_aircraft['identity'] %}
            <li class="list_item">Registration: <span class="code_text">{{ identity|render_or_unknown('registration') }}</span></li>
        {% endwith %}
        <li class="list_item">ADS-B ICAO: <span class="code_text">{{ nearest_aircraft['icao_24'] }}</span></li>
        <li class="list_item">Squawk: <span class="code_text">{{ nearest_aircraft['squawk'] }}</span></li>
        <li class="list_item">FlightAware:
            <a href="{{ nearest_aircraft['flightaware_urls']['live']}}">Live</a> |
            <a href="{{ nearest_aircraft['flightaware_urls']['redirect']}}">Redirect</a>
        </li>
        <li class="list_item">Distance: 
            {{ nearest_aircraft['distance']['direction'] }}, 
            <span class="code_text">{{ nearest_aircraft['distance']['nm']|round(2) }} NM</span>
            |
            <span class="code_text">
                {% if nearest_aircraft['distance']['km'] > 2 %}
                    {{ nearest_aircraft['distance']['km']|round(2) }} km
                {% else %}
                    {{ (nearest_aircraft['distance']['m'])|round|int }} m
                {% endif %}
            </span>
        </li>
        <li class="list_item">Altitude: <span class="code_text">{{ nearest_aircraft['alt_geom']}} ft</span></li>
        <li class="list_item">Ground Speed: <span class="code_text">{{ nearest_aircraft['gs'] }} KT</span></li>
        <li class="list_item">Vertical_rate: <span class="code_text">{{ nearest_aircraft['baro_rate'] }} ft/min</span></li>
        <li class="list_item">Track: {{ nearest_aircraft['movement']['direction'] }}, 
            <span class="code_text">{{ nearest_aircraft['movement']['track'] }}&deg;</span></li>
        <li class="list_item">&#x2191;&#x2197;&#x2192;&#x2198;&#x2193;&#x2199;&#x2190;&#x2196;</li>
    </ul>
    {% with identity = nearest_aircraft['identity'] %}
        {% if identity['image'] is defined and identity['image']|length  %}
            <img src="{{ identity['image']['src'] }}"/>
        {% else %}
            <p><em>(No image found for aircraft)</em></p>
        {% endif %}
    {% endwith %}
    <h2>Weather</h2>
    {{ weather_report|render_weather }}
    <h2>Base Station</h2>
    <ul>
        <li class="list_item">Coordinates: 
            <span class="code_text">{{ receiver.lat }}</span>,
            <span class="code_text">{{ receiver.lon }}</span></li>
        <li class="list_item">Timezone: <span class="code_text">{{ local_timezone_name }}</span></li>
    </ul> 
    <h2>Ffring API</h2>
    <ul>
        <li class="list_item">{{ system['ffring_aircraft']['label'] }}:
            <a href="{{ system['ffring_aircraft']['url'] }}">{{ system['ffring_aircraft']['url'] }}</a>
        </li>
        <li class="list_item">{{ system['ffring_aircraft_nearest']['label'] }}:
            <a href="{{ system['ffring_aircraft_nearest']['url'] }}">{{ system['ffring_aircraft_nearest']['url'] }}</a>
        </li>
        <li class="list_item">{{ system['ffring_wtc']['label'] }}:
            <a href="{{ system['ffring_wtc']['url'] }}">{{ system['ffring_wtc']['url'] }}</a>
        </li>
    </ul>
    <h2>Dump1090 API</h2>
    <ul>
        <li class="list_item">Aircraft JSON:
            <a href="{{ system['urls']['aircraft'] }}">{{ system['urls']['aircraft'] }}</a>
        </li>
        <li class="list_item">Stats JSON:
            <a href="{{ system['urls']['stats'] }}">{{ system['urls']['stats'] }}</a>
        </li>
        <li class="list_item">Receiver JSON:
            <a href="{{ system['urls']['receiver'] }}">{{ system['urls']['receiver'] }}</a>
        </li>
    </ul>
    <h2>External API</h2>
    <ul>
        <li class="list_item">Weather:
            <a href="{{ weather_report['forcast_hourly_url'] }}">{{ weather_report['forcast_hourly_url'] }}</a>
        </li>

        {% if nearest_aircraft['image'] %}
            <li class="list_item">Plainspotters:
                <a href="{{ nearest_aircraft['image']['url'] }}">{{ nearest_aircraft['image']['url'] }}</a>
            </li>
        {% else %}
            <li class="list_item">Plainspotters: <em>(no image found)</em></li>
        {% endif %}
        <li class="list_item">HexDB: 
            <ul>
                <li class="list_item">Aircraft
                    <a href="{{ nearest_aircraft['hexdb']['aircraft_url'] }}">{{ nearest_aircraft['hexdb']['aircraft_url'] }}</a>
                </li>
                <li class="list_item">Conversion:
                    <a href="{{ nearest_aircraft['hexdb']['conversion_url'] }}">{{ nearest_aircraft['hexdb']['conversion_url'] }}</a>
                </li>
            </ul>
        </li>
        <li class="list_item">AdsbDB: 
            <ul>
                <li class="list_item">Aircraft
                    <a href="{{ nearest_aircraft['adsb_db']['aircraft_url'] }}">{{ nearest_aircraft['adsb_db']['aircraft_url'] }}</a>
                </li>
                <li class="list_item">Conversion:
                    <a href="{{ nearest_aircraft['adsb_db']['conversion_url'] }}">{{ nearest_aircraft['adsb_db']['conversion_url'] }}</a>
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}
