{% if is_valid %}
    <p class="time_label text_normal">{{ title }}</p>
    <div class="valid {{ estimated|get_time_diff_class(scheduled) }}">
        <div class="time_pair">
            <div class="estimated_container">
                <p class="estimated {{ estimated|get_time_diff_class(scheduled) }}">
                    {{ estimated|format_time_short(timezone) }}
                </p>
                <p class="timezone text_normal {{ estimated|get_time_diff_class(scheduled) }}">
                    {{ estimated|format_tz(timezone) }}
                </p>
            </div>
            <p class="scheduled text_normal">{{ scheduled|format_time_short(timezone) }}</p>
        </div>
    </div>
{% else %}
    <div class="invalid">
        <p class="time_label text_normal">{{ title }} (unknown)</p>
    </div>
{% endif %}