.flightinfo {
    max-width: 64rem;
    margin-left: 2.4rem;
}
@media (min-width: 1024px) {
    .flightinfo {
        margin-left: 0;
    }
}

.flightinfo_intinerary_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}


.flightinfo_itinenary {
}

.flightinfo_itinenary.flightaware {
    height: 100%;
    border-top: 0.4rem solid #000;
    border-right: 0.4rem solid #000;
    border-bottom: 0.4rem solid #000;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 23.8rem;
    box-sizing: border-box;

}

.flightinfo_itinenary .flight {
    background-color: #A4DDED;
    padding: 0.6rem 0 0.6rem 2.2rem;
    margin-top: 1.2rem;
    /* margin-bottom: 1.2rem; */
    line-height: 3.6rem;
    display: inline-block;
    padding-right: 1.2rem;
}
.flightinfo_itinenary .date {
    padding-bottom: 1.2rem;
}

.flightinfo_itinenary.details {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.flightinfo_itinenary.details .image {
    /* padding-left: 2.2rem; */
}

.flightinfo_itinenary.details .aircraft_details {
    padding-left: 2.2rem;
}


.flightinfo_itinenary .title,
.flightinfo_itinenary .airport_name,
.flightinfo_itinenary .airport_code,
.flightinfo_itinenary .date,
.flightinfo_itinenary .time_diff {
    padding-left: 2.4rem;
}




.flightinfo_itinenary .airport_code {
    width: 12rem;
    font-size: 4.8rem;
    line-height: 4.8rem;
}


.flightinfo_itinenary .origin {
    padding-top: 2.0rem;
    padding-bottom: 2.2rem;
    /* padding-left: 2.4rem; */
    border-bottom: 0.4rem solid #000;
    background-color: #FFF;
}


.flightinfo_itinenary .destination {
    padding-top: 2.2rem;
    padding-bottom: 2.0rem;
    background-color: #FFF;
    /* padding-left: 2.4rem; */
}

.flightinfo_itinenary .title {
    text-transform: uppercase;
}

.time_pair {
    display: flex;
    padding-bottom: 1.2rem;
}

.time_pair .estimated {
    font-size: 3.6rem;
    line-height: 3.6rem;
}

.estimated.early, .timezone.early {
    color: #FFF;
}

.estimated.delayed, .timezone.delayed {
    color: #FFF
}

.time_pair .timezone {
    margin-left: 0.6rem;
}

.time_pair .scheduled {
    color: #999;
    text-decoration: line-through;
    margin-left: 0.6rem;
    padding-top: 0.6rem;
}

.schedule_early {
    color: #090;
}

.schedule_delayed {
    color: #C00;
}

.flightinfo_itinenary .time_label {
    padding-left: 2.4rem;
}

.flightinfo_itinenary .time_pair .estimated_container {
    display: flex;
    padding: 0.6rem 0.6rem 0.6rem 2.4rem;
}

.flightinfo_itinenary .valid.early .estimated_container,
.flightinfo_itinenary .invalid ~ .valid.early .estimated_container  {
    background-color: #090;
}

.flightinfo_itinenary .valid.delayed .estimated_container,
.flightinfo_itinenary .invalid ~ .valid.delayed .estimated_container  {
    background-color: #C00;
}

.flightinfo_itinenary .valid ~ .valid .estimated_container {
    background-color: transparent;
}

.flightinfo_itinenary .valid ~ .valid .estimated_container .estimated.early,
.flightinfo_itinenary .valid ~ .valid .estimated_container .timezone.early {
    color: #090;
}

.flightinfo_itinenary .valid ~ .valid .estimated_container .estimated.delayed,
.flightinfo_itinenary .valid ~ .valid .estimated_container .timezone.delayed {
    color: #900;
}

.aircraft_type {
    padding: 0.6rem 0 0.6rem 2.2rem;
}
