html {
    font-size: 62.5%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body, h1, h2, img, ol, ul, p, table, tr, th, td {
    margin: 0;
}

body {
    padding: 0;
    font-size: 1em;
    line-height: 1;
    text-rendering: optimizeLegibility;
    position: relative;
    font-family: 'century_book';

    /* background: red; */
    /* background-image: linear-gradient(to bottom right, red 50%, transparent 50%), 
                      linear-gradient(to top left, red 50%, transparent 50%);
                      width: 200px;
                      height: 200px; */
    background: linear-gradient(to top left, #fff 0%, #fff 50%, #EDBBCB 50%, #EDBBCB 100%);
    background-position: top left;
    background-size: 64vw 64vw;
    background-repeat: no-repeat;
}

#body_container {
    max-width: 1200px;
}

@media (min-width: 600px) {
    #body_container {
        width: auto;
    }
}

@media (min-width: 1024px) {
    #body_container {
        width: 945px;
        margin: 0 auto;
    }
}

@media (min-width: 1440px) {
    #body_container {
        width: 1200px;
    }
}

.left_standard_margin {
    padding-left: 2.4rem;
}
/* @media (min-width: 1024px) {
    .left_standard_margin {
        margin-left: 0;
    }
} */

h1 {
    font-size: 4.8rem;
    line-height: 6.0rem;
    font-weight: normal;
    padding-top: 1.2rem;
    background-color: #FFF;
    display: inline-block;
    padding: 1rem;
    border: 0.4rem solid #000;
    border-top-width: 0.2rem;
    margin-left: 2.2rem;
    box-sizing: border-box;
    width: 24rem;
    border-left-color: #FFF;
    border-top-color: #FFF;
}


@media (min-width: 1024px) {
    .flightinfo {
        margin-left: -0.2rem;
    }
}

h2 {
    font-size: 2.4rem;
    line-height: 3.6rem;
    padding-top: 3.6rem;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
}

.text_large {
    font-size: 3.6rem;
    line-height: 3.6rem;
}

.text_medium {
    font-size: 2.4rem;
    line-height: 3.6rem;
}

.text_normal {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.list_item {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-left: 2.4rem;
}

.code_text {
    font-size: 1.5rem;
    background-color: rgba(229,229,229, 0.5);
    border-color: rgba(29,28,29,.13);
    border-width: 0.1rem;
    border-style: solid;
    color: rgb(224, 30, 91);
    padding: 0.1rem 0.3rem;
    font-family: 'century_monospace';
}

footer {
    height: 4.8rem;
}
