<!DOCTYPE html>
<!--
Flask uses the jinja2 template engine http://jinja.pocoo.org/
It looks a lot like Django
base.html serves as the base.
-->
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
    </head>
    <body>
        <div>
            Microblog:
            {# 
                these are pointing to the function names in routes.py 
                Much better than hardcoding the URLs here. That way, there is
                only one place to find all the endpoints, which makes them
                easier to change.
            #}
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
            {% else %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {# 
            with to deal with the result of calling get_flashed_messages(),
            which comes from flask
        #}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!--
        block control statement to define where derived templates can insert
        themselves
        -->
        {% block content %}{% endblock %}
    </body>
</html>